<!DOCTYPE html>

{% extends 'events/base.html' %}
{% load staticfiles %}

{% block table_header %}
    <th></th>
    <th class="th_ccell"><h4>NAME</h4></th>
    <th class="th_ccell"><h4>DESCRIPTION</h4></th>
    <th class="th_ccell"><h4>POLITY</h4></th>
    <th class="th_ccell"><h4>EFFECTS SUMMARY</h4></th>
    <th class="th_ccell"><h4>EVENT RESOLUTION</h4></th>
    <th class="th_ccell"><h4></h4></th>
{% endblock %}

{% block table_body %}
    {% for event in events %}
        <tr>
            <td style="text-align: center;">
                {% if event.resolution != '' %}
                    <a class="btn btn-default" href="{% url 'events:event_resolve' pk=event.pk %}">
                        <span>
                            <img src="{% static 'img/glyphicons-halflings-84-ok-sign.png' %}" alt="capital"/>
                        </span>
                    </a>
                {% endif %}
            </td>
            <td class="tb_ccell">{{ event.name }}</td>
            <td class="tb_ccell">{{ event.desc }}</td>
            <td class="tb_ccell">{{ event.polity.name }}</td>
            <td class="tb_ccell">{{ event.effects_summary }}</td>
            <td class="tb_ccell">{{ event.resolution }}</td>
            <td style="text-align: center;">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'events:event_edit' pk=event.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{% url 'events:event_delete' pk=event.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_new_item %}
    <a class="btn btn-default" href="{% url 'events:event_new' %}">
        <div><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;New</div>
    </a>
{% endblock %}