<!DOCTYPE html>

{% extends 'armed_forces/base.html' %}

{% block table_header %}
    <th class="th_ccell"><h4>CASUALTIES</h4></th>
    <th class="th_ccell"><h4>MONTHS DOWNTIME</h4></th>
    <th class="th_ccell"><h4></h4></th>
{% endblock %}

{% block table_body %}
    {% for casualty in casualties %}
        <tr>
            <td>{{ casualty.num }} from {{ casualty.unit.name }}</td>
            <td>{{ casualty.months }}</td>
            <td>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'armed_forces:casualty_edit' pk=casualty.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{% url 'armed_forces:casualty_delete' pk=casualty.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_new_item %}
    <a class="btn btn-default" href="{% url 'armed_forces:casualty_new' %}">
        <div><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Add</div>
    </a>
{% endblock %}