<!DOCTYPE html>

{% extends 'territory/base_view.html' %}
{% load staticfiles %}

{% block content %}

<div>
    <ul id="hexGrid">
        {% for hex in hexes %}
            <li class="hex" style="">
                <div class="hexIn">
                    <a class="hexLink" href="{% url 'territory:hex_edit' pk=hex.pk map_id=hex.map.id %}">
                        <img style="filter: {{ hex.filter }};" src="/static/{{ hex.img }}" alt="" />
                        <h1>Hex {{ hex.hex }} ({{ hex.type.name }})</h1>
                        {% if hex.features_summary != '' %}
                            <p>{{ hex.features_summary }}</p>
                        {% else %}
                            <p>No Known Features</p>
                        {% endif %}
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}