<!DOCTYPE html>

{% extends 'territory/base.html' %}

{% block table_header %}
    <th class="th_ccell"><h4>HEX</h4></th>
    <th class="th_ccell"><h4>TYPE</h4></th>
    <th class="th_ccell"><h4>FEATURES</h4></th>
    <th class="th_ccell"><h4>IMPROVEMENTS</h4></th>
    <th class="th_ccell"><h4></h4></th>
{% endblock %}

{% block table_body %}
    {% for territory in territories %}
        <tr>
            <td class="tb_ccell">{{ territory.hex }}</td>
            <td class="tb_ccell">{{ territory.type }}</td>
            <td class="tb_ccell">{{ territory.features.all|join:", " }}</td>
            <td class="tb_ccell">{{ territory.improvements.all|join:", " }}</td>
            <td class="tb_ccell">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'territory:territory_edit' pk=territory.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{% url 'territory:territory_delete' pk=territory.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_new_item %}
    <a class="btn btn-default" href="{% url 'territory:territory_new' %}">
        <div><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;New</div>
    </a>
{% endblock %}