<!DOCTYPE html>

{% extends 'settlements/base.html' %}
{% load staticfiles %}

{% block table_header %}
    <th><h4>NAME</h4></th>
    <th><h4>TYPE</h4></th>
    <th><h4>LOTS</h4></th>
    <th><h4>ENHANCEMENTS</h4></th>
    <th><h4>EFFECTS</h4></th>
    <th><h4>MAGICAL ITEMS</h4></th>
    <th><h4></h4></th>
{% endblock %}

{% block table_body %}
    {% for building in buildings %}
        <tr>
            <td>
                {% if building.endowment %}
                    <img src="{% static 'img/glyphicons-halflings-233-education.png' %}" alt="endowment"/>
                {% endif %}
                {{ building.name }}
            </td>
            <td>{{ building.type.name }}</td>
            <td>
                {% if building.lots is not None %}
                    {{ building.lots }}
                {% else %}
                    {{ building.type.lots }}
                {% endif %}
            </td>
            <td>{{ building.enhancements_list|join:", " }}</td>
            <td>{{ building.effects_summary }}</td>
            <td>{{ building.magic_items }}</td>
            <td>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'settlements:building_edit' pk=building.pk settlement_id=settlement_id %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{% url 'settlements:building_delete' pk=building.pk settlement_id=settlement_id %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_new_item %}
    <a class="btn btn-default" href="{% url 'settlements:building_new' settlement_id=settlement_id %}">
        <div><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Add</div>
    </a>
{% endblock %}
