<!DOCTYPE html>

{% extends 'settlements/base.html' %}
{% load staticfiles %}

{% block table_header %}
    <th style="text-align: center;"><h4>GRID</h4></th>
    <th><h4>OWNER</h4></th>
    <th><h4>NAME</h4></th>
    <th><h4>TYPE</h4></th>
    <th><h4>DISTRICTS</h4></th>
    <th><h4>LOTS</h4></th>
    <th><h4>SUMMARY</h4></th>
    <th><h4>MAGIC ITEMS</h4></th>
    <th><h4></h4></th>
{% endblock %}

{% block table_body %}
    {% for settlement in settlements %}
        <tr class="clickable-object" style="cursor: pointer;" data-href="{% url 'settlements:buildings' settlement_id=settlement.pk %}">
            <td style="text-align: center;">
                <a class="btn btn-default" href="{% url 'settlements:districts' settlement_id=settlement.pk %}">
                    <span class="glyphicon glyphicon-th-large"></span>
                </a>
            </td>
            <td>{{ settlement.territory.polity.name }}</td>
            <td>
                {% if settlement.capital %}
                    <img src="{% static 'img/glyphicons-halflings-211-king.png' %}" alt="capital"/>
                    <b>{{ settlement.name }}</b>
                {% else %}
                    {{ settlement.name }}
                {% endif %}
            </td>
            <td>{{ settlement.type.name }}</td>
            <td>{{ settlement.districts }}</td>
            <td>{{ settlement.lots }}</td>
            <td>{{ settlement.att_summary }}</td>
            <td>{{ settlement.magic_items_string }}</td>
            <td style="text-align: center;">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'settlements:settlement_edit' pk=settlement.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{% url 'settlements:settlement_delete' pk=settlement.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_new_item %}
    <a class="btn btn-default" href="{% url 'settlements:settlement_new' %}">
        <div><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;New</div>
    </a>
{% endblock %}