.grid-square {
    float:left;
    position: relative;
    width: 15%;
    padding-bottom: 15%; /* = width for a 1:1 aspect ratio */
    margin:0.50%;
    overflow:hidden;
    outline: 5px ridge #899AEB;
}

.grid-square-content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

.grid-table{
    display:table;
    height:100%;
    width:100%;
}

.grid-table-cell{
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    height:100%;
    width:100%;
}