<!DOCTYPE html>

{% extends 'people/base.html' %}

{% block table_header %}
    <th class="th_ccell"><h4>NAME</h4></th>
    <th class="th_ccell"><h4>DESCRIPTION</h4></th>
    <th class="th_ccell"><h4></h4></th>
{% endblock %}

{% block table_body %}
    {% for award in awards %}
        <tr>
            <td class="tb_ccell">{{ award.name }}</td>
            <td class="tb_ccell">{{ award.desc }}</td>
            <td class="tb_ccell">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'people:award_edit' pk=award.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{% url 'people:award_delete' pk=award.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_new_item %}
    <a class="btn btn-default" href="{% url 'people:award_new' %}">
        <div><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;New</div>
    </a>
{% endblock %}