<!DOCTYPE html>

{% extends 'people/base.html' %}

{% block table_header %}
    <th class="th_ccell"><h4>EQUIVALENT RANK</h4></th>
    <th class="th_ccell"><h4>MALE TITLE</h4></th>
    <th class="th_ccell"><h4>FEMALE TITLE</h4></th>
    <th class="th_ccell"><h4>MALE HONORIFIC</h4></th>
    <th class="th_ccell"><h4>FEMALE HONORIFIC</h4></th>
    <th class="th_ccell"><h4>DESCRIPTION</h4></th>
    <th class="th_ccell"><h4></h4></th>
{% endblock %}

{% block table_body %}
    {% for noble_rank in noble_ranks %}
        <tr>
            <td class="tb_ccell">{{ noble_rank.rank }}</td>
            <td class="tb_ccell">{{ noble_rank.male_title }}</td>
            <td class="tb_ccell">{{ noble_rank.female_title }}</td>
            <td class="tb_ccell">{{ noble_rank.male_honorific }}</td>
            <td class="tb_ccell">{{ noble_rank.female_honorific }}</td>
            <td class="tb_lcell">{{ noble_rank.desc }}</td>
            <td class="tb_ccell">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'people:noble_rank_edit' pk=noble_rank.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{% url 'people:noble_rank_delete' pk=noble_rank.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_new_item %}
    <a class="btn btn-default" href="{% url 'people:noble_rank_new' %}">
        <div><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;New</div>
    </a>
{% endblock %}