<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
    <div class="panel panel-primary" style="margin: 0 auto;">
        <div class="panel-heading">
            <h3 style="color: #ffffff; text-align: center; ">Polity Attributes</h3>
        </div>
        <div class="panel-body">
            <table style="float: left;">
                <tbody>
                    <tr>
                        <td class="tb_lcell"><h4>ALIGNMENT</h4></td>
                        <td class="tb_ccell">Lawful Neutral</td>
                    </tr>
                    <tr>
                        <td class="tb_lcell"><h4>GOVERNMENT</h4></td>
                        <td class="tb_ccell">Feudal Monarchy</td>
                    </tr>
                </tbody>
            </table>
            <table style="float: right;">
                <tbody>
                    <tr>
                        <td class="tb_lcell"><h4>POPULATION</h4></td>
                        <td class="tb_ccell">{{ polity.population.total }}</td>
                        <td class="tb_lcell">{{ polity.population.source_summary }}</td>
                    </tr>
                    <tr>
                        <td class="tb_lcell"><h4>CONTROL DC</h4></td>
                        <td class="tb_ccell">{{ polity.control_dc }}</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin: 0 auto; ">
                <tbody>
                    <tr>
                        <td class="tb_ccell"><h4>SIZE</h4></td>
                    </tr>
                    <tr>
                        <td class="tb_ccell">{{ polity.size.total }}</td>
                    </tr>
                    <tr>
                        <td class="tb_ccell">{{ polity.size.source_summary }}</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin: 0 auto; ">
                <thead>
                    <tr>
                        <th class="th_ccell"><h4>ECONOMY</h4></th>
                        <th class="th_ccell"><h4>LOYALTY</h4></th>
                        <th class="th_ccell"><h4>STABILITY</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tb_ccell">{{ polity.economy.total }}</td>
                        <td class="tb_ccell">{{ polity.loyalty.total }}</td>
                        <td class="tb_ccell">{{ polity.stability.total }}</td>
                    </tr>
                    <tr>
                        <td class="tb_lcell">{{ polity.economy.source_summary }}</td>
                        <td class="tb_lcell">{{ polity.loyalty.source_summary }}</td>
                        <td class="tb_lcell">{{ polity.stability.source_summary }}</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin: 0 auto; ">
                <thead>
                    <tr>
                        <th class="th_ccell"><h4>FAME</h4></th>
                        <th class="th_ccell"><h4>INFAMY</h4></th>
                        <th class="th_ccell"><h4>CORRUPTION</h4></th>
                        <th class="th_ccell"><h4>CRIME</h4></th>
                        <th class="th_ccell"><h4>LAW</h4></th>
                        <th class="th_ccell"><h4>LORE</h4></th>
                        <th class="th_ccell"><h4>PRODUCTIVITY</h4></th>
                        <th class="th_ccell"><h4>SOCIETY</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tb_ccell">{{ polity.fame.total }}</td>
                        <td class="tb_ccell">{{ polity.infamy.total }}</td>
                        <td class="tb_ccell">{{ polity.corruption.total }}</td>
                        <td class="tb_ccell">{{ polity.crime.total }}</td>
                        <td class="tb_ccell">{{ polity.law.total }}</td>
                        <td class="tb_ccell">{{ polity.lore.total }}</td>
                        <td class="tb_ccell">{{ polity.productivity.total }}</td>
                        <td class="tb_ccell">{{ polity.society.total }}</td>
                    </tr>
                    <tr>
                        <td class="tb_lcell">{{ polity.fame.source_summary }}</td>
                        <td class="tb_lcell">{{ polity.infamy.source_summary }}</td>
                        <td class="tb_lcell">{{ polity.corruption.source_summary }}</td>
                        <td class="tb_lcell">{{ polity.crime.source_summary }}</td>
                        <td class="tb_lcell">{{ polity.law.source_summary }}</td>
                        <td class="tb_lcell">{{ polity.lore.source_summary }}</td>
                        <td class="tb_lcell">{{ polity.productivity.source_summary }}</td>
                        <td class="tb_lcell">{{ polity.society.source_summary }}</td>
                    </tr>
                </tbody>
            </table>
            <table style="float: left;">
                <tbody>
                    <tr>
                        <td class="tb_lcell"><h4>TREASURY</h4></td>
                        <td class="tb_ccell">{{ polity.treasury }}</td>
                    </tr>
                    <tr>
                        <td class="tb_lcell"><h4>INCOME</h4></td>
                        <td class="tb_ccell">{{ polity.income.total }}</td>
                        <td class="tb_lcell">{{ polity.income.source_summary }}</td>
                    </tr>
                    <tr>
                        <td class="tb_lcell"><h4>REVENUE DIVISOR</h4></td>
                        <td class="tb_ccell">{{ polity.tax_edict.revenue_divisor }}</td>
                    </tr>
                </tbody>
            </table>
            <table style="float: right;">
                <tbody>
                    <tr>
                        <td class="tb_lcell"><h4>DEFENSE</h4></td>
                        <td class="tb_ccell">{{ polity.defense.total }}</td>
                        <td class="tb_lcell">{{ polity.defense.source_summary }}</td>
                    </tr>
                    <tr>
                        <td class="tb_lcell"><h4>UNREST INCREMENT</h4></td>
                        <td class="tb_ccell">{{ polity.unrest_mod.total }}</td>
                        <td class="tb_lcell">{{ polity.unrest_mod.source_summary }}</td>
                    </tr>
                    <tr>
                        <td class="tb_lcell"><h4>UNREST</h4></td>
                        <td class="tb_ccell">{{ polity.unrest }}</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin: 0 auto; ">
                <tbody>
                    <tr>
                        <td class="tb_ccell"><h4>CONSUMPTION</h4></td>
                    </tr>
                    <tr>
                        <td class="tb_ccell">
                            {{ polity.consumption.total }}
                            {% if polity.consumption.total_dice != '' %}
                                {{ polity.consumption.total_dice }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="tb_ccell">{{ polity.consumption.source_summary }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-heading">
            <h3 style="color: #ffffff; text-align: center; ">Leadership</h3>
        </div>
        <div class="panel-body">
            <table width="100%">
                <thead>
                    <tr>
                        <th class="th_ccell"><h4>ROLE</h4></th>
                        <th class="th_ccell"><h4>RANK</h4></th>
                        <th class="th_ccell"><h4>PERSON</h4></th>
                        <th class="th_ccell"><h4>BONUS</h4></th>
                        <th class="th_ccell"><h4>ATTRIBUTE</h4></th>
                        <th class="th_ccell"><h4></h4></th>
                        <th class="th_ccell"><h4></h4></th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in polity.leadership %}
                        <tr>
                            <td class="tb_lcell">{{ person.leadership_role }}</td>
                            <td class="tb_ccell">
                                {% if person.noble_rank is not None %}
                                    {% if person.gender.name == "Female" %}
                                        {{ person.noble_rank.female_honorific }},&nbsp;
                                    {% else %}
                                        {{ person.noble_rank.male_honorific }},&nbsp;
                                    {% endif %}
                                {% endif %}

                                <b>
                                {% if person.noble_rank is not None %}
                                    {% if person.gender.name == "Female" %}
                                        {{ person.noble_rank.female_title }}
                                    {% else %}
                                        {{ person.noble_rank.male_title }}
                                    {% endif %}
                                {% endif %}
                                </b>
                            </td>
                            <td class="tb_ccell">
                                {{ person.first_name }} {{ person.last_name }}
                            </td>
                            <td class="tb_ccell">{{ person.leadership_mod }}</td>
                            <td class="tb_ccell">
                                {% if person.leadership_role|title == "Ruler" %}
                                    {{ polity.ruler_attribute_1.name }}
                                {% elif person.leadership_role|title == "Co-Ruler" %}
                                    {{ polity.ruler_attribute_1.name }}
                                {% elif person.leadership_role|title == "Consort" %}
                                    Loyalty
                                {% elif person.leadership_role|title == "Councilor" %}
                                    Loyalty
                                {% elif person.leadership_role|title == "General" %}
                                    Stability
                                {% elif person.leadership_role|title == "Grand Diplomat" %}
                                    Stability
                                {% elif person.leadership_role|title == "Heir" %}
                                    Loyalty
                                {% elif person.leadership_role|title == "High Priest" %}
                                    Stability
                                {% elif person.leadership_role|title == "Magister" %}
                                    Economy
                                {% elif person.leadership_role|title == "Marshal" %}
                                    Economy
                                {% elif person.leadership_role|title == "Royal Enforcer" %}
                                    Loyalty
                                {% elif person.leadership_role|title == "Spymaster" %}
                                    {{ polity.spymaster_attribute.name }}
                                {% elif person.leadership_role|title == "Treasurer" %}
                                    Economy
                                {% elif person.leadership_role|title == "Viceroy" %}
                                    Economy
                                {% elif person.leadership_role|title == "Warden" %}
                                    Loyalty
                                {% endif %}
                            </td>
                            <td class="tb_ccell">
                                {% if person.leadership_role|title == "Ruler" %}
                                    {{ polity.ruler_attribute_2.name }}
                                {% elif person.leadership_role|title == "Co-Ruler" %}
                                    {{ polity.ruler_attribute_2.name }}
                                {% endif %}
                            </td>
                            <td class="tb_ccell">
                                {% if person.leadership_role|title == "Ruler" %}
                                    {{ polity.ruler_attribute_3.name }}
                                {% elif person.leadership_role|title == "Co-Ruler" %}
                                    {{ polity.ruler_attribute_3.name }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}