<!DOCTYPE html>

{% extends 'polity/base.html' %}

{% block content %}
    <div class="panel panel-primary" style="margin: 0 auto;">
        <div class="panel-heading">
            <h3 style="color: #ffffff; text-align: center; ">Polity Attributes</h3>
        </div>
        <div class="panel-body">
            <table class="table-hover table-responsive" style="float: center;" width="100%">
                <thead>
                    <tr>
                        <th style="text-align: center;"><h4>GOVERNMENT</h4></th>
                        <th style="text-align: center;"><h4>ALIGNMENT</h4></th>
                        <th style="text-align: center;"><h4>SIZE</h4></th>
                        <th style="text-align: center;"><h4>POPULATION</h4></th>
                        <th style="text-align: center;"><h4>CONTROL DC</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;">
                            <font size="5">{{ polity.government.name }}</font>
                        </td>
                        <td style="text-align: center;">
                            <font size="5">{{ polity.alignment_string }}</font>
                        </td>
                        <td style="text-align: center;">
                            <p><font size="5">{{ polity.size.total }}</font></p>
                            <p><font size="1">({{ polity.size.source_summary }})</font></p>
                        </td>
                        <td style="text-align: center;">
                            <p><font size="5">{{ polity.population.total }}</font></p>
                            <p><font size="1">({{ polity.population.source_summary }})</font></p>
                        </td>
                        <td style="text-align: center;">
                            <font size="5">{{ polity.control_dc }}</font>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-hover table-responsive" style="float: left;" width="40%">
                <tbody>
                    <tr>
                        <td style="text-align: left;"><h4>ECONOMY</h4></td>
                        <td style="text-align: center;">
                            <p><font size="5">{{ polity.economy.total }}</font></p>
                            <p><font size="1">({{ polity.economy.source_summary }})</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><h4>LOYALTY</h4></td>
                        <td style="text-align: center;">
                            <p><font size="5">{{ polity.loyalty.total }}</font></p>
                            <p><font size="1">({{ polity.loyalty.source_summary }})</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><h4>STABILITY</h4></td>
                        <td style="text-align: center;">
                            <p><font size="5">{{ polity.stability.total }}</font></p>
                            <p><font size="1">({{ polity.stability.source_summary }})</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><b>FAME</b></td>
                        <td style="text-align: center;">
                            <p>
                                <font size="5">{{ polity.fame.total }}</font>
                                ({{ polity.fame_mod }})
                            </p>
                            <p><font size="1">({{ polity.fame.source_summary }})</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><b>INFAMY</b></td>
                        <td style="text-align: center;">
                            <p>
                                <font size="5">{{ polity.infamy.total }}</font>
                                    ({{ polity.infamy_mod }})
                            </p>
                            <p><font size="1">({{ polity.infamy.source_summary }})</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><b>CORRUPTION</b></td>
                        <td style="text-align: center;">
                            <p>
                                <font size="5">{{ polity.corruption.total }}</font>
                                ({{ polity.corruption_mod }})
                            </p>
                            <p><font size="1">({{ polity.corruption.source_summary }})</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><b>CRIME</b></td>
                        <td style="text-align: center;">
                            <p>
                                <font size="5">{{ polity.crime.total }}</font>
                                ({{ polity.crime_mod }})
                            </p>
                            <p><font size="1">({{ polity.crime.source_summary }})</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><b>LAW</b></td>
                        <td style="text-align: center;">
                            <p>
                                <font size="5">{{ polity.law.total }}</font>
                                ({{ polity.law_mod }})
                            </p>
                            <p><font size="1">({{ polity.law.source_summary }})</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><b>LORE</b></td>
                        <td style="text-align: center;">
                            <p>
                                <font size="5">{{ polity.lore.total }}</font>
                                ({{ polity.lore_mod }})
                            </p>
                            <p><font size="1">({{ polity.lore.source_summary }})</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><b>PRODUCTIVITY</b></td>
                        <td style="text-align: center;">
                            <p>
                                <font size="5">{{ polity.productivity.total }}</font>
                                ({{ polity.productivity_mod }})
                            </p>
                            <p><font size="1">({{ polity.productivity.source_summary }})</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><b>SOCIETY</b></td>
                        <td style="text-align: center;">
                            <p>
                                <font size="5">{{ polity.society.total }}</font>
                                ({{ polity.society_mod }})
                            </p>
                            <p><font size="1">({{ polity.society.source_summary }})</font></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-hover table-responsive" style="float: right;" width="40%">
                <tbody>
                    <tr>
                        <td style="text-align: left;"><h4>TREASURY</h4></td>
                        <td style="text-align: center;">
                            <p><font size="5">{{ polity.treasury }}</font></p>
                        </td>
                        <td style="text-align: left;">
                            <p>
                                <a class="btn btn-default" href="{% url 'polity:polity_modify_treasury' pk=polity.pk dir='+' step=1 %}">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </a>
                            </p>
                            <p>
                                <a class="btn btn-default" href="{% url 'polity:polity_modify_treasury' pk=polity.pk dir='-' step=1 %}">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><h4>INCOME</h4></td>
                        <td style="text-align: center;">
                            <p><font size="5">{{ polity.income.total }}</font></p>
                            <p><font size="1">({{ polity.income.source_summary }})</font></p>
                        </td>
                        <td>
                            {% for income_gp in polity.income_gp %}
                                <p><font size="1">+{{ income_gp }}gp</font></p>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><h4>REVENUE DIVISOR</h4></td>
                        <td style="text-align: center;">
                            <p><font size="5">{{ polity.tax_edict.revenue_divisor }}</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><h4>DEFENSE</h4></td>
                        <td style="text-align: center;">
                            <p><font size="5">{{ polity.defense.total }}</font></p>
                            <p><font size="1">({{ polity.defense.source_summary }})</font></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><h4>UNREST</h4></td>
                        <td style="text-align: center;">
                            <font size="5">{{ polity.unrest.total }}</font>
                        </td>
                        <td style="text-align: left;">
                            <p>
                                <a class="btn btn-default" href="{% url 'polity:polity_modify_unrest' pk=polity.pk dir='+' step=1 %}">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </a>
                            </p>
                            <p>
                                {% if polity.unrest.total > 0 %}
                                    <a class="btn btn-default" href="{% url 'polity:polity_modify_unrest' pk=polity.pk dir='-' step=1 %}">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                {% else %}
                                    <a class="btn disabled" href="{% url 'polity:polity_modify_unrest' pk=polity.pk dir='-' step=1 %}">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                            {% endif %}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><h4>CONSUMPTION</h4></td>
                        <td style="text-align: center;">
                            <p>
                                <font size="5">
                                    {{ polity.consumption.total }}
                                    {% if polity.consumption.total_dice != '' %}
                                        {{ polity.consumption.total_dice }}
                                    {% endif %}
                                </font>
                            </p>
                            {% if polity.endowment_upkeep > 0 %}
                                <p>
                                    <font size="1">
                                        +{{ polity.endowment_upkeep }}gp endowment upkeep
                                    </font>
                                </p>
                            {% endif %}
                            <p>
                                <font size="1">
                                    {{ polity.consumption_autumn }} in Autumn,
                                    {{ polity.consumption_winter }} in Winter
                                </font>
                            </p>
                            <p><font size="1">({{ polity.consumption.source_summary }})</font></p>
                            <p>
                                {% if polity.consumption_excess %}
                                    <font size="1">!!!SURPLUS!!!</font>
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><h4>MAGIC ITEMS</h4></td>
                        <td style="text-align: center; word-wrap:break-word;">
                            {{ polity.magic_items_string }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-heading">
            <h3 style="color: #ffffff; text-align: center; ">Recruitment</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-responsive" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align: center;"><h4>ARMED FORCES</h4></th>
                        <th style="text-align: center;"><h4>MANPOWER</h4></th>
                        <th style="text-align: center;"><h4>REGULARS</h4></th>
                        <th style="text-align: center;"><h4>ELITES</h4></th>
                        <th style="text-align: center;"><h4>MILITIA</h4></th>
                        <th style="text-align: center;"><h4>CONSCRIPTS</h4></th>
                        <th style="text-align: center;"><h4>ALLIED</h4></th>
                        <th></th>
                        <th></th>
                        <th style="text-align: center;">POSSIBLE ELITES+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: right;"><b>TOTAL</b></td>
                        <td style="text-align: center;">{{ polity.armed_forces }}</td>
                        <td style="text-align: center;">{{ polity.manpower }}</td>
                        <td style="text-align: center;">{{ polity.regulars }}</td>
                        <td style="text-align: center;">{{ polity.elites }}</td>
                        <td style="text-align: center;">{{ polity.militia }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: center;"><b>CR 3</b></td>
                        <td style="text-align: center;">{{ polity.elites_cr3 }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><b>USED</b></td>
                        <td style="text-align: center;">{{ polity.armed_forces_used }}</td>
                        <td style="text-align: center;">{{ polity.manpower_used }}</td>
                        <td style="text-align: center;">{{ polity.regulars_used }}</td>
                        <td style="text-align: center;">{{ polity.elites_used }}</td>
                        <td style="text-align: center;">{{ polity.militia_used }}</td>
                        <td style="text-align: center;">{{ polity.conscripts_used }}</td>
                        <td style="text-align: center;">{{ polity.allied_used }}</td>
                        <td></td>
                        <td style="text-align: center;"><b>CR 4</b></td>
                        <td style="text-align: center;">{{ polity.elites_cr4 }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><b>CASUALTIES</b></td>
                        <td></td>
                        <td style="text-align: center;">{{ polity.manpower_casualties }}</td>
                        <td style="text-align: center;">{{ polity.regulars_casualties }}</td>
                        <td style="text-align: center;">{{ polity.elites_casualties }}</td>
                        <td style="text-align: center;">{{ polity.militia_casualties }}</td>
                        <td style="text-align: center;">{{ polity.conscripts_casualties }}</td>
                        <td style="text-align: center;">{{ polity.allied_casualties }}</td>
                        <td></td>
                        <td style="text-align: center;"><b>CR 5</b></td>
                        <td style="text-align: center;">{{ polity.elites_cr5 }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><b>AVAILABLE</b></td>
                        <td style="text-align: center;">{{ polity.armed_forces_available }}</td>
                        <td style="text-align: center;">{{ polity.manpower_available }}</td>
                        <td style="text-align: center;">{{ polity.regulars_available }}</td>
                        <td style="text-align: center;">{{ polity.elites_available }}</td>
                        <td style="text-align: center;">{{ polity.militia_available }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: center;"><b>CR 6</b></td>
                        <td style="text-align: center;">{{ polity.elites_cr6 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-heading">
            <h3 style="color: #ffffff; text-align: center; ">Leadership</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-responsive" width="100%">
                <thead>
                    <tr>
                        <th class="th_ccell"><h4>ROLE</h4></th>
                        <th class="th_ccell"><h4>RANK</h4></th>
                        <th class="th_ccell"><h4>PERSON</h4></th>
                        <th class="th_ccell"><h4>BONUS</h4></th>
                        <th class="th_ccell"><h4>ATTRIBUTE</h4></th>
                        <th class="th_ccell"><h4></h4></th>
                        <th class="th_ccell"><h4></h4></th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in polity.leadership %}
                        <tr>
                            <td class="tb_lcell">{{ person.leadership_role }}</td>
                            <td class="tb_ccell">
                                {% if person.noble_rank is not None %}
                                    {% if person.gender.name == "Female" %}
                                        {{ person.noble_rank.female_honorific }},&nbsp;
                                    {% else %}
                                        {{ person.noble_rank.male_honorific }},&nbsp;
                                    {% endif %}
                                {% endif %}

                                <b>
                                {% if person.noble_rank is not None %}
                                    {% if person.gender.name == "Female" %}
                                        {{ person.noble_rank.female_title }}
                                    {% else %}
                                        {{ person.noble_rank.male_title }}
                                    {% endif %}
                                {% endif %}
                                </b>
                            </td>
                            <td class="tb_ccell">
                                {{ person.first_name }} {{ person.last_name }}
                            </td>
                            <td class="tb_ccell">{{ person.leadership_mod }}</td>
                            <td class="tb_ccell">
                                {% if person.leadership_role|title == "Ruler" %}
                                    {{ polity.ruler_attribute_1.name }}
                                {% elif person.leadership_role|title == "Co-Ruler" %}
                                    {{ polity.ruler_attribute_1.name }}
                                {% elif person.leadership_role|title == "Consort" %}
                                    Loyalty
                                {% elif person.leadership_role|title == "Councilor" %}
                                    Loyalty
                                {% elif person.leadership_role|title == "General" %}
                                    Stability
                                {% elif person.leadership_role|title == "Grand Diplomat" %}
                                    Stability
                                {% elif person.leadership_role|title == "Heir" %}
                                    Loyalty
                                {% elif person.leadership_role|title == "High Priest" %}
                                    Stability
                                {% elif person.leadership_role|title == "Magister" %}
                                    Economy
                                {% elif person.leadership_role|title == "Marshal" %}
                                    Economy
                                {% elif person.leadership_role|title == "Royal Enforcer" %}
                                    Loyalty
                                {% elif person.leadership_role|title == "Spymaster" %}
                                    {{ polity.spymaster_attribute.name }}
                                {% elif person.leadership_role|title == "Treasurer" %}
                                    Economy
                                {% elif person.leadership_role|title == "Viceroy" %}
                                    Economy
                                {% elif person.leadership_role|title == "Warden" %}
                                    Loyalty
                                {% endif %}
                            </td>
                            <td class="tb_ccell">
                                {% if person.leadership_role|title == "Ruler" %}
                                    {{ polity.ruler_attribute_2.name }}
                                {% elif person.leadership_role|title == "Co-Ruler" %}
                                    {{ polity.ruler_attribute_2.name }}
                                {% endif %}
                            </td>
                            <td class="tb_ccell">
                                {% if person.leadership_role|title == "Ruler" %}
                                    {{ polity.ruler_attribute_3.name }}
                                {% elif person.leadership_role|title == "Co-Ruler" %}
                                    {{ polity.ruler_attribute_3.name }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}