<!DOCTYPE html>

{% extends 'polity/base.html' %}

{% block table_header %}
    <th class="th_ccell"><h4>NAME</h4></th>
    <th class="th_ccell"><h4>FORM OF GOVERNMENT</h4></th>
    <th class="th_ccell"><h4>ALIGNMENT</h4></th>
    <th class="th_ccell"><h4>TREASURY</h4></th>
    <th class="th_ccell"><h4>BASE UNREST</h4></th>
    <th class="th_ccell"><h4>BASE FAME</h4></th>
    <th class="th_ccell"><h4>BASE INFAMY</h4></th>
    <th class="th_ccell"><h4>TAX LEVEL</h4></th>
    <th class="th_ccell"><h4>ATTITUDE</h4></th>
    <th class="th_ccell"><h4>HOLIDAY FREQUENCY</h4></th>
    <th class="th_ccell"><h4>MILITARISM</h4></th>
    <th class="th_ccell"><h4>DESCRIPTION</h4></th>
    <th class="th_ccell"><h4></h4></th>
{% endblock %}

{% block table_body %}
    {% for polity in polities %}
        <tr class="clickable-object" style="cursor: pointer;" data-href="{% url 'polity:polity_details' pk=polity.pk %}">
            <td class="tb_ccell">{{ polity.name }}</td>
            <td class="tb_ccell">{{ polity.government.name }}</td>
            <td class="tb_ccell">
                {% if polity.alignment_lc.name == "Neutral" and polity.alignment_ge.name == "Neutral" %}
                    True Neutral
                {% else %}
                    {{ polity.alignment_lc.name }} {{ polity.alignment_ge.name }}
                {% endif %}
            </td>
            <td class="tb_ccell">{{ polity.treasury }}</td>
            <td class="tb_ccell">{{ polity.unrest }}</td>
            <td class="tb_ccell">{{ polity.fame }}</td>
            <td class="tb_ccell">{{ polity.infamy }}</td>
            <td class="tb_ccell">{{ polity.tax_edict.tax_level }}</td>
            <td class="tb_ccell">{{ polity.promotion_edict.attitude }}</td>
            <td class="tb_ccell">{{ polity.holiday_edict.frequency }}</td>
            <td class="tb_ccell">{{ polity.recruitment_edict.militarism }}</td>
            <td class="tb_ccell">{{ polity.desc }}</td>
            <td class="tb_ccell">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'polity:polity_edit' pk=polity.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{% url 'polity:polity_delete' pk=polity.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_new_item %}
    <a class="btn btn-default" href="{% url 'polity:polity_new' %}">
        <div><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;New</div>
    </a>
{% endblock %}