<!DOCTYPE html>

{% extends 'armies/base.html' %}
{% load staticfiles %}

{% block table_header %}
    <th class="th_ccell"><h4>OWNER</h4></th>
    <th class="th_ccell"><h4>NAME</h4></th>
    <th class="th_ccell"><h4></h4></th>
{% endblock %}

{% block table_body %}
    {% for army in armies %}
        <tr>
            <td class="tb_lcell">{{ army.polity.name }}</td>
            <td class="tb_ccell">{{ army.name }}</td>
            <td class="tb_ccell">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'armies:army_edit' pk=army.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{% url 'armies:army_delete' pk=army.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_new_item %}
    <a class="btn btn-default" href="{% url 'armies:army_new' %}">
        <div><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;New</div>
    </a>
{% endblock %}